.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 39px 113px 40px 112px;
}

.order-btn {
  border: none;
  width: 155px;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
}

.btn-green {
  color: #ffffff;
  background: rgba(91, 177, 137, 1);
}

.btn-blue {
  color: #ffffff;
  background: rgba(58, 107, 165, 1);
}

.btn-orange {
  color: #ffffff;
  background: rgba(236, 99, 42, 1);
}
