.price-card {
  width: 380px;
  height: 770px;
  background: rgba(51, 66, 71, 1);
  overflow: hidden;
  position: relative;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
  }

  &__title {
    margin: 0;
    font-size: 35px;
    line-height: 43px;
    // text-align: center;
    color: #ffffff;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
  }
}

.basic {
  margin-right: 18px;
}

.busines {
  margin-right: 18px;
}

.webshop {
  margin-right: 0;
}

.price-card-popular {
  width: 25px;
  height: 147px;
  background-color:rgba(220, 63, 69, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  position: absolute;
  right: 30px;
  top: -30px;
  overflow: hidden;
}

.popular {
  transform: rotate(90deg);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
}