@import 'header.scss';
@import 'variables.scss';
@import 'price.scss';
@import 'description.scss';
@import 'footer.scss';
@import 'options.scss';

* {
  box-sizing: border-box;
}

.content {
  font-family: 'Montserrat';
  height: 100vh;
  background-color: #141b1c;
  display: flex;
  align-items: center;
  justify-content: center;
}
