@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
@import 'variables';
@import 'card';
* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.top-section {
  background-color: $background-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
