.price {
  height: 105px;
  margin-top: 33px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 55px;
}
.green {
  background: rgba(91, 177, 137, 1);
}

.blue {
  background: rgba(58, 107, 165, 1);
}

.orange {
  background: rgba(236, 99, 42, 1);
}
