$popular-background-color: #dc3f45;
$price-card-color-first: #5bb189;
$background-color: #141b1c;
$price-card-color: #334247;
$text-color: #fff;
$price-card-color-second: #3a6ba5;
$price-card-color-third: #ec632a;
$list-item-odd-color: #2a3438;
